<div class="container">
	<form id="create-account" action="/new/user" method="POST">
			<%if @errors %>
				<p class="errors">Something went wrong.</p>
			<%end%>

			<p id="bad-name"class="errors hide">User already exists</p>
		
			<p id="bad-password" class="errors hide">Passwords don't match</p>
		

		<label for="user-name">Username: </label>
			<input id="user-name" type="text" name="user[name]"><br>
		<label for="password">Password: </label>
			<input id="password" type="password" name="user[password]"><br>
		<label for="password-confirmation">Confirm Password: </label>
			<input id="password-confirmation" type="password" name="user[password_confirmation]"><br>
			<input id="create-user" type="submit" value="Register">	
	</form>
</div>